/*change the font*/
body {
    font-family: 'Fuzzy Bubbles', cursive;
}
/*element selector example*/
h1 {
    /*change the color,font size of heading*/
    color:hsl(80, 61%, 26%);
    font-size:50px;
    padding-top:0.2in;
    padding-bottom:0.2in;
    padding-left:0.2in;
    padding-right:0.2in;
    background-color: rgb(223, 242, 223);
    margin:auto;
    height:2cm;
    width:100cm;
    
}
h2 {
    color:darkgreen;
    background-color: rgb(223, 242, 223);
    font-size:3ch;
    padding:0.2in, 0,1in, 0.2in, 0.1in;
    border:2px 1px 1px 1px;
}
h3 {
    color:#085e15;
    margin:2em;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:1cm;
    margin-right:1cm;
    border-style:double;
    border-color:rgb(95, 159, 31);
    border-width: 0.1in;
    border-radius: 0cm;
    display:inline-block;
}
/*change the paragraph's setting*/
p {
    line-height:1cm;
    margin:1cm 1cm 1cm 1cm;
    text-decoration:underline;
    text-align: start;
    display: inline;
    max-height: 1cm;
    max-width: 1000cm;
    font:100;
}
section {
    position:sticky;
}
select {
    position:relative;
}
.Agenda:hover {
    background-color:rgb(164, 236, 164);
}
.Last:hover {
    background-color:rgb(164, 236, 164);
}
/*Pseudo-class selector*/
.New:hover {
    background-color:rgb(164, 236, 164);
}
.Q:active {
    background-color:rgb(164, 236, 164);
}
/*display as flex*/
/*class selector*/
.New {
    display: flex;
    background-color: rgb(223, 242, 223);
    font-size: medium;
}
/*ID selector*/
#Last {
    background-color: rgb(223, 242, 223);
}
/*Universal selector*/
*.Agenda {
    color: yellowgreen;
}
/*display as fird*/
.grid-container {
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    background-color: rgb(223, 242, 223);
    align-items: stretch;
    place-items: center;
}
.grid-item1 {
    grid-column-start: 1;
    grid-column-end: 2;
}
.grid-item2 {
    grid-column-start: 1;
    grid-column-end: 2;
}
.grid-item3 {
    grid-column-start: 1;
    grid-column-end: 2;
}
.grid-item4 {
    grid-column-start: 1;
    grid-column-end: 2;
}
@media screen {
    body {
        background-color: rgb(241, 250, 245);
    }
}
/*attribute selector*/
input[type=text] {
    width: 250px;
    height: 30px;
}

/*selector list*/
span, 
div {
    border: rgb(9, 105, 30) 2px solid;
}

/*Descendatnt Selector*/
section p {
    color: green;
}

/*Child Combinator*/
ol > li {
    color: yellowgreen;
}
/*General sibling combinator*/
section ~ p {
    background-color: coral;
}
/*Adjacent sibling combinator*/
div + p {
    color:rgb(203, 23, 104);
}
/*Combining Two Selectors*/
div.Rec {
    background-color: rgb(170, 218, 219);
}